.DS_Store
node_modules
/dist


# local env files
# these files are known as the environment variable - these variable are read as the application starts running and NOT added to your git
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
